<a href="https://colab.research.google.com/github/NoCodeProgram/CodingTest/blob/main/greedy/minDeletion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Title : Minimum Deletion Cost to Avoid Repeating Letters

Chapter : Greedy

Link :

ChapterLink :

문제 : string s와 i번째 문자를 지우기 위한 cost[i]가 주어진다. 연속되는 알파벳을 지우기 위한 최소비용은 몇인가?

In [2]:
from typing import List

def minCost(s: str, cost: List[int]) -> int:
  if len(cost) <= 1:
    return 0
  
  last_char = ""
  max_cost = 0
  total_cost = 0
  
  for idx,nth_cost in enumerate(cost):
    nth_char = s[idx]      
    if nth_char != last_char:
      last_char = nth_char
      max_cost = nth_cost
    
    else: #nth_char != s[idx]
      if nth_cost <= max_cost:
        total_cost += nth_cost             
      else: #max_cost < nth_cost
        total_cost += max_cost
        max_cost = nth_cost
        
  return total_cost

In [3]:
s= "abaac"
cost = [1,2,3,4,5]

print(minCost(s=s,cost=cost))

3

In [4]:
s= "bbbaaac"
cost = [3,1,2,1,5,3,2]

print(minCost(s=s,cost=cost))

7