<a href="https://colab.research.google.com/github/NoCodeProgram/CodingTest/blob/main/mathBit/singleNumber.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Title : Single Number

Chapter : Math, Bit

Link : 

ChapterLink : 

문제: 주어진 Array에는 한 숫자를 제외하고 모든 숫자들이 두개씩 들어있다. 하나만 들어있는 숫자를 찾아라

In [2]:
from typing import List  
#hashMap Approach

def singleNumberHash(nums: List[int]) -> int:
  num_set = set()
  for num in nums:
    if num in num_set:
      num_set.remove(num)
    
    else:
      num_set.add(num)        
  
  single_num = num_set.pop()
  return single_num

singleNumberHash(nums=[5,1,3,1,3,2,2])

5

In [4]:
def singleNumber(nums):

  single_num = 0
  for num in nums:
      single_num ^= num
  return single_num

singleNumber(nums=[5,1,3,1,3,2,2])

5